<!-- Assuming this is inside your Angular component template file, e.g., city.component.html -->
<div class="container">
  <div class="header">
    <h2>Explore Popular Cities</h2>
    <p class="header-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
  </div>
  <div class="cities-nav">
    <button *ngFor="let city of cities" (click)="setActiveCity(city)"
            [ngClass]="{'active': city === activeCity}" class="city-button">
      {{ city.name }}
    </button>
  </div>
  <div *ngIf="activeCity" class="main-content">
    <div class="image-container">
      <img [src]="activeCity.imageLink" alt="{{ activeCity.name }}">
    </div>
    <div class="city-info">
      <h1>{{ activeCity.name }}</h1>
      <p class="city-description">{{ activeCity.description }}</p>
      <div class="tags" >
        {{ activeCity.tags }}
      </div>
    </div>
  </div>
</div>
<app-tours></app-tours>
