<div class = "head">
    <h2>Explore Popular cities</h2>
    <h4>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia<br>
        consequat duis enim velit mollit</h4>
</div>
<div class="cities-container">
    <div *ngFor="let city of cities">
        <div class = "city">
            <button><h3>{{ city.name }}</h3></button>
        </div>
    </div>
</div>
<div *ngFor="let city of cities">
    <img [src]="city.imageLink" alt="{{ city.name }}">
    <div class = "city-info">
        <h2 class = "city-name">{{ city.name }}</h2>
        <p>{{ city.description }}</p>
    </div>
<app-tours></app-tours>
</div>
