@font-face {
  font-family: 'NicoMoji';
  src: url('../assets/Fonts/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../assets/header.png') no-repeat center center;
  background-size: cover;
  padding: 0 30px;
}

.navbar-brand a {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'NicoMoji', sans-serif;
}

.navbar-menu a {
  color: #fff;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #ddd;
}

.navbar-sign-in button {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-sign-in button:hover {
  background-color: #e0a800;
}

@media (max-width: 768px) {
  .navbar-menu a {
    display: block;
    margin: 10px 0;
  }

  .navbar-sign-in button {
    width: 100%;
    padding: 15px 0;
  }

  .navbar {
    flex-direction: column;
  }
}
