<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="['/']">tour guide</a>
  </div>
  <div class="navbar-menu">
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/about-us']">About Us</a>
    <a [routerLink]="['/popular-destinations']">Popular Destinations</a>
    <a [routerLink]="['/our-packages']">Our Packages</a>
    <a [routerLink]="['/help']">Help</a>
  </div>
  <div class="navbar-sign-in">
    <button routerLink="/sign-in">Sign In</button>
  </div>
</nav>

<router-outlet></router-outlet>
