
<div class="home-container">
  <!-- <app-root></app-root> -->
  <div class="hero-section">
      <h1>We Find The Best Tours For You</h1>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velt officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <div class="button-container">
        <button class="watch-video-button">
          <img src="../../assets/play-video.png" alt="Play" class="icon" />
          Watch Video
        </button>
      </div>
      <div class="shadow-ellipse"></div>
  </div>

  <div class="search-section">
      <input type="text" placeholder="Search For A Destination" aria-label="Destination">
      <input type="number" placeholder="How Many Guests?" aria-label="Guests">
      <input type="date" placeholder="Pick a date" aria-label="Dat">
      <button class="search-button">Search</button>
  </div>
</div>
<app-popular-destinations></app-popular-destinations>
